{% extends "base.html" %}


{% block title %}
    {{object.title}} - {{block.super}}
{% endblock title %}
{% block main %}
    <h1>{{object}}</h1>
    <p class="lead">
    	{{object.plot}}
    </p>
{% endblock main %}

{% block sidebar %}
    <div>This movie is rated:
    	<span class="badge badge-primary">{{object.get_rating_display}}</span>
    </div>
{% endblock sidebar %}